# Predicting Daily Land Average Temperature

##  Load the Data
Load the daily land-surface average anomaly data provided by Berkeley Earth collected from 1880 to 2022.

In [9]:
import pandas as pd

url = "https://berkeley-earth-temperature.s3.us-west-1.amazonaws.com/Global/Complete_TAVG_daily.txt"

'''
read the data from the url link
ignore the comments starting with '%'
ignore the header in the comments and assign manually
'''
df = pd.read_csv(url, sep=r"\s+", comment="%", header=None)

# assign column headers
column_names = ["Date Number", "Year", "Month", "Day", "Day of Year", "Anomaly"]
df.columns = column_names

df.to_csv("data/raw.csv", index=False)

In [10]:
df

       Date Number  Year  Month  Day  Day of Year  Anomaly
0         1880.001  1880      1    1            1   -0.692
1         1880.004  1880      1    2            2   -0.592
2         1880.007  1880      1    3            3   -0.673
3         1880.010  1880      1    4            4   -0.615
4         1880.012  1880      1    5            5   -0.681
...            ...   ...    ...  ...          ...      ...
52072     2022.568  2022      7   27          208    1.639
52073     2022.571  2022      7   28          209    1.631
52074     2022.574  2022      7   29          210    1.574
52075     2022.577  2022      7   30          211    1.577
52076     2022.579  2022      7   31          212    1.629

[52077 rows x 6 columns]